

#form-container{
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}




#ticket-form{
    width: 500px;
    height: 350px;

    
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#ticket-form.singup{
    height: 600px;
}

#ticket-form.ticket{
    height: 600px;
}

#form-title{
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}

#error-msg{
    color: red;
    text-align: center;
}

#success-msg{
    color: rgb(1, 187, 1);
    text-align: center;
}


.submit-btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}