

#events{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#title{
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 50px;
    width: 100%;
    text-align: center;
}


.event{
    position: relative;
    width: 75%;
    height: 150px;

    margin-bottom: 30px;

    display: flex;
    flex-direction: row;

    background-color: lightgray;
    border: 1px solid black;
    border-radius: 10px;
    
    overflow: hidden;
    box-shadow: 2px 2px 10px black;

    transition: .5s;
}

.event.expanded{
    height: 300px;
    transition: .3s;
}

.image{
    position: relative;
    height: 300px;
    width: 40%;

    overflow: hidden;
}

.image > img{
    /* min-height: 100%;
    min-width: 100%; */
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.image::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    
    background: linear-gradient(90deg, transparent, lightgray);
    width: 15px;
    height: 100%;
}

.infos{
    display: flex;
    flex-direction: column;

    width: 66%;
    height: 300px;
}

.top{
    display: flex;
    flex-direction: row;

    align-items: center;

    height: 50%;
}

.top > div{
    flex-grow: 1;
    text-align: center;

    font-size: 1.5em;
    font-weight: bold;
}

.desc{
    height: 50%;
    padding: 0 3em;

    font-size: 1.25em;
}