#navbar{
    position: relative;
    width: 100%;
    height: 75px;

    background-color: var(--dark-theme);
    
    display: flex;
    flex-direction: row;
}


div.navbar-tab{
    position: relative;
    
    font-size: 1.5em;
    color: var(--light-theme);
    
    display: flex;
    flex-grow: 1;

    transition: .5s;
}

#navbar > div.navbar-tab:hover:not(.active){
    background-color: #fff3;
    transition: .5s;
}

div.navbar-tab.active{
    background-color: var(--main-theme-1);
    color: #000;
}


span.navbar-tab-name{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}