

#main-content{
    width: 100%;
}

#title{
    margin: 50px 0;
    font-size: 3em;
    text-align: center;
}

#tickets{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nothing-here{
    font-size: 1.25em;
}



.ticket{
    position: relative;
    width: 75%;
    height: 150px;

    margin-bottom: 30px;

    display: flex;
    flex-direction: row;

    background-color: #f0f0f0;
    border: 1px solid black;
    border-radius: 10px;
    
    overflow: hidden;
    box-shadow: 2px 2px 10px black;

    transition: .5s;
}

.ticket-prop{
    display: flex;
    flex-direction: column;

    word-wrap: break-word;
    padding: 0 1em;
}

.ticket-prop-name{
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}


.subject{
    width: 15%;
}

.desc{
    width: 25%;
}

.location{
    width: 15%;
}

.prio{
    width: 15%;
}

.date{
    width: 15%;
}

.status{
    width: 15%;
}

.description-content{
    overflow-y: auto;
}
