
#main-title{
    text-align: center;
    font-size: 5em;
    margin: 10px 0;
}

#animals-title{
    margin-left: 50px;
    margin-bottom: 15px;
}

#animals{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.tile-container .tile{
    position: relative;
    height: 100%;
    width: auto;
    aspect-ratio: 1;

    border-radius: 6.9px;
    box-shadow: 2px 2px 5px black;

    overflow: hidden;
}

.tile-container .tile img{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.tile-container .tile .title{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 35%;
    width: 100%;

    transform: translateY(100%);

    background-color: var(--dark-theme);
    
    font-size: 2em;
    text-align: center;
    padding-top: 15px;
    color: var(--light-theme);
    text-decoration: underline;
    text-decoration-color: var(--main-theme-1);

    transition: 1s;
}

.tile-container .tile:hover .title{
    transform: translateY(0);

    transition: .5s;
}


#events-block{
    width: 100%;
    height: 300px;

    margin-top: 50px;

    display: flex;
    flex-direction: row;
    overflow-y: auto;

}

#events-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    white-space: nowrap;
}

#events{
    flex-grow: 1;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

}

.event{
    margin-left: 50px;
}

.event .title{
    font-size: 1.125em !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.status{
    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--dark-theme);
    color: var(--light-theme);
    text-decoration: underline;

    padding: .5em 1em;
}

.running{
    text-decoration-color: red;
}

.incoming{
    text-decoration-color: lightgreen;
}

#nothing-here{
    font-size: 1.69em;
}


