
.noselect{
    -webkit-user-select: none;  /* Chrome/Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Default */      
}



body{
    background-color: var(--light-theme);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    font-family: var(--bs-body-font-family);
}


html{
    /*
        Palette de couleurs
    */

    --light-theme: #f3f3f3;
    --dark-theme: #4d4d4d;
    --main-theme-1: #0de0bc;
    --main-theme-2: #00ffe1;
    --main-theme-3: #16785c;
}